#BanerAbout {
    background-color: rgb(255, 255, 255);
    /* height: 400px; */
}

.aboutBanner {
    margin-left: 100px;
    width: 350px;

}
#h2-About{
    margin-top: 100px!important;
}
#banner-P1 {
    margin-top: 20px;


}
#banner-P{
    color: rgb(32, 32, 32);
}






#banner-P {
    margin-top: 100px;

    font-weight: bold;
}

#h2-About {

    /* font-family: Times New Roman, serif; */
    font-size: 40px !important;
    margin-top: 50px;
}

/* .headshot {
	flex-shrink: 0;
	margin: 0px;
	height: calc(50px + 6vw);
	width: calc(50px + 6vw);
	border: calc(8px + 0.2vw) solid transparent;
	background-origin: border-box;
	background-clip: content-box, border-box;
	background-size: cover;
	box-sizing: border-box;
	box-shadow: 0 0 10px 2px rgba(77, 77, 77, 0.5);
} */
/* .headshot-3 {
	border-radius: 50% 10%;
	background-image: var(--img-url), linear-gradient(to bottom left, #f83600, #f9d423);
} */
@media only screen and (max-width: 600px) {


    .aboutBanner {
        margin-top: 0px;
        margin-left: 80px;
        width: 250px;

        /* max-height: 100%;
        max-width: 100%; */
    }


    #h2-About {
        margin-top: 80px;

        /* font-family: Times New Roman, serif; */
    }

    #banner-P {
        margin-top: 30px;
        text-align: center;
        font-weight: bold;

    }

    #banner-P1 {
        margin-top: 20px;
        text-align: left;

    }

}

@media (min-width: 768px) and (max-width: 991.98px) {

    .aboutBanner {
        margin-left: 0px;
        width: 350px;
        max-height: 100%;
        max-width: 100%;
    }

}